<h1>Login!</h1>

<div class="container">


<div class="alert alert-warning" *ngIf = 'inValidLoginin'>{{errorMessage}}</div>

<div>
  <!-- User  Name: <input type="text" name="username" value="{{username}}">  -->
  <!-- 1 way data bindling, we takking value from compoent.ts showing on view ,-> interplotation -->
  
  User  Name: <input type="text" name="username"  [(ngModel)]="username">
  <!--  2 way data binding, get useranme from componet , when user changed the name it is upadted ->  ngModel -->
  password :<input type="password" name="paasword" id="" [(ngModel)]="password">
  
  <button (click)=handleLogin() class="btn btn-success"> login</button>
  <!-- event binding -->
  
</div>


</div>

