
<h1>My Todo's</h1>

<div class="alert alert-success" *ngIf="message"> {{message}}</div>
<div class="container">

<table class="table">
 
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>is completed</th>
      <th>targetDate</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- for todo in todos -->
    <tr *ngFor="let todo of todos">
      <th>{{todo.id}}</th>
      <th>{{todo.description}}</th>
      <th>{{todo.done}}</th>
      <th>{{todo.targetDate | date | uppercase}}</th>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning"> Delete</button></td>
    </tr>
  </tbody>
</table>

</div>