
<h1>My Todo's</h1>

<div class="alert alert-success" *ngIf="message"> {{message}}</div>
<div class="container">

<table class="table">
 
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>is completed</th>
      <th>targetDate</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <!-- for todo in todos -->
    <tr *ngFor="let todo of todos">
      <th>{{todo.id}}</th>
      <th>{{todo.description}}</th>
      <th>{{todo.done}}</th>
      <th>{{todo.targetDate | date | uppercase}}</th>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning"> Delete</button></td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success"> Update</button></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <button (click)="addTodo()" class="btn btn-success">Add </button>
</div>
</div>